<body>
    <div class="wrapper">
        <div class="img-area">
            <div class="inner-area">
                <img src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="">
            </div>
        </div>

        <div class="name">Jose Sajnovsky</div>
        <div class="about">Fullstack developer</div>
        <div class="social-icons">
            <a href="mailto:joseignaciosajnovsky.9@gmail.com?subject=Hola&body=Soy%20Argentino" class="fb"><i
                    class="bi bi-envelope"></i></a>
            <a href="#" class="twitter"><i class="bi bi-telegram"></i></a>
            <a target="_blank" href="https://github.com/Makarov342" class="insta"><i class="bi bi-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jose-sajnovsky-273303251/" class="insta"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="social-share">
        </div>
    </div>
</body>